USE [master]
GO
/****** Object:  Database [GusevDemoSSMS]    Script Date: 06.03.2026 19:04:44 ******/
CREATE DATABASE [GusevDemoSSMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GusevDemoSSMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GusevDemoSSMS.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GusevDemoSSMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GusevDemoSSMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GusevDemoSSMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GusevDemoSSMS]
GO
/****** Object:  Table [dbo].[Partners_import$]    Script Date: 06.03.2026 19:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners_import$](
	[type_partner_ID] [int] NOT NULL,
	[type_partner] [nvarchar](255) NULL,
	[name_partner] [nvarchar](255) NULL,
	[director_partners] [nvarchar](255) NULL,
	[email_partners] [nvarchar](255) NULL,
	[number_partners] [nvarchar](255) NULL,
	[adress_partners] [nvarchar](255) NULL,
	[INN_partners] [float] NULL,
	[raring_partners] [float] NULL,
 CONSTRAINT [PK_Partners_import$] PRIMARY KEY CLUSTERED 
(
	[type_partner_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners_product_import$]    Script Date: 06.03.2026 19:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners_product_import$](
	[partner_products_import_ID] [int] NOT NULL,
	[Products_import_name] [int] NULL,
	[Name_partner_import] [int] NULL,
	[quantity_import] [int] NULL,
	[Date_import] [date] NULL,
 CONSTRAINT [PK_Partners_product_import$] PRIMARY KEY CLUSTERED 
(
	[partner_products_import_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_import$]    Script Date: 06.03.2026 19:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_import$](
	[type_products_ID] [int] NOT NULL,
	[type_products] [int] NULL,
	[name_products] [nvarchar](255) NULL,
	[articul_products] [int] NULL,
	[minprice_products] [int] NULL,
 CONSTRAINT [PK_Product_import$] PRIMARY KEY CLUSTERED 
(
	[type_products_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_type_import$]    Script Date: 06.03.2026 19:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_type_import$](
	[type_product_import_ID] [int] NOT NULL,
	[type_product_import_name] [nvarchar](255) NULL,
	[kafe_type_product_import] [int] NULL,
 CONSTRAINT [PK_Product_type_import$] PRIMARY KEY CLUSTERED 
(
	[type_product_import_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Partners_import$] ([type_partner_ID], [type_partner], [name_partner], [director_partners], [email_partners], [number_partners], [adress_partners], [INN_partners], [raring_partners]) VALUES (1, N'ЗАО', N'База Строитель', N'Иванова Александра Ивановна', N'aleksandraivanova@ml.ru', N'493 123 45 67', N'652050, Кемеровская область, город Юрга, ул. Лесная, 15', 2222455179, 7)
INSERT [dbo].[Partners_import$] ([type_partner_ID], [type_partner], [name_partner], [director_partners], [email_partners], [number_partners], [adress_partners], [INN_partners], [raring_partners]) VALUES (2, N'ООО', N'Паркет 29', N'Петров Василий Петрович', N'vppetrov@vl.ru', N'987 123 56 78', N'164500, Архангельская область, город Северодвинск, ул. Строителей, 18', 3333888520, 7)
INSERT [dbo].[Partners_import$] ([type_partner_ID], [type_partner], [name_partner], [director_partners], [email_partners], [number_partners], [adress_partners], [INN_partners], [raring_partners]) VALUES (3, N'ПАО', N'Стройсервис', N'Соловьев Андрей Николаевич', N'ansolovev@st.ru', N'812 223 32 00', N'188910, Ленинградская область, город Приморск, ул. Парковая, 21', 4440391035, 7)
GO
INSERT [dbo].[Partners_product_import$] ([partner_products_import_ID], [Products_import_name], [Name_partner_import], [quantity_import], [Date_import]) VALUES (1, 1, 1, 15500, CAST(N'2023-03-23' AS Date))
INSERT [dbo].[Partners_product_import$] ([partner_products_import_ID], [Products_import_name], [Name_partner_import], [quantity_import], [Date_import]) VALUES (2, 2, 1, 12350, CAST(N'2023-12-18' AS Date))
INSERT [dbo].[Partners_product_import$] ([partner_products_import_ID], [Products_import_name], [Name_partner_import], [quantity_import], [Date_import]) VALUES (3, 4, 1, 37400, CAST(N'2024-06-07' AS Date))
GO
INSERT [dbo].[Product_import$] ([type_products_ID], [type_products], [name_products], [articul_products], [minprice_products]) VALUES (1, 3, N'Паркетная доска Ясень темный однополосная 14 мм', 8758385, 4456)
INSERT [dbo].[Product_import$] ([type_products_ID], [type_products], [name_products], [articul_products], [minprice_products]) VALUES (2, 3, N'Инженерная доска Дуб Французская елка однополосная 12 мм', 8858958, 7330)
INSERT [dbo].[Product_import$] ([type_products_ID], [type_products], [name_products], [articul_products], [minprice_products]) VALUES (3, 1, N'Ламинат Дуб дымчато-белый 33 класс 12 мм', 7750282, 1799)
GO
INSERT [dbo].[Product_type_import$] ([type_product_import_ID], [type_product_import_name], [kafe_type_product_import]) VALUES (1, N'Ламинат', 2)
INSERT [dbo].[Product_type_import$] ([type_product_import_ID], [type_product_import_name], [kafe_type_product_import]) VALUES (2, N'Массивная доска', 5)
INSERT [dbo].[Product_type_import$] ([type_product_import_ID], [type_product_import_name], [kafe_type_product_import]) VALUES (3, N'Паркетная доска', 4)
GO
ALTER TABLE [dbo].[Partners_product_import$]  WITH CHECK ADD  CONSTRAINT [FK_Partners_product_import$_Partners_import$] FOREIGN KEY([Name_partner_import])
REFERENCES [dbo].[Partners_import$] ([type_partner_ID])
GO
ALTER TABLE [dbo].[Partners_product_import$] CHECK CONSTRAINT [FK_Partners_product_import$_Partners_import$]
GO
ALTER TABLE [dbo].[Partners_product_import$]  WITH CHECK ADD  CONSTRAINT [FK_Partners_product_import$_Product_import$] FOREIGN KEY([Products_import_name])
REFERENCES [dbo].[Product_import$] ([type_products_ID])
GO
ALTER TABLE [dbo].[Partners_product_import$] CHECK CONSTRAINT [FK_Partners_product_import$_Product_import$]
GO
ALTER TABLE [dbo].[Product_import$]  WITH CHECK ADD  CONSTRAINT [FK_Product_import$_Product_type_import$] FOREIGN KEY([type_products])
REFERENCES [dbo].[Product_type_import$] ([type_product_import_ID])
GO
ALTER TABLE [dbo].[Product_import$] CHECK CONSTRAINT [FK_Product_import$_Product_type_import$]
GO
USE [master]
GO
